<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>生物信息实验室</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/laboratory_stc/self_static/laboratory.css">
</head>
<body>
<div class="banner" id="banner">
    <img src="/static/laboratory_stc/img/banner.png.crdownload">
</div>
{#=========================导=航=栏============================#}
<nav class="navbar navbar-default xw_navbar">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="https://www.aielab.net/ahbd/"> >> 返回<span class="sr-only"></span></a></li>
            </ul>
            <ul class="nav navbar-nav xw_nav">
                <li>
                    <a href="#banner">实验室简介</a>
                </li>
                <li>
                    <a href="#compose">人员组成</a>
                </li>
                <li>
                    <a href="#">研究项目</a>
                </li>
                <li>
                    <a href="#">科研成果</a>
                </li>
                <li>
                    <a href="#">联系我们</a>
                </li>
            </ul>
        </div>


    </div>
</nav>
{#=========================大=背=景============================#}
<div id="cell" class="cell container">
    <div class="row xw_banner">
        <div class="col-md-6 col-lg-6">
            <div>
                <h1>生物信息计算</h1>
            </div>
            <div>
                <h3>Bioinformatics and Computing</h3>
            </div>

        </div>
        <div class="col-md-6 col-lg-6 ">
            <div id="myCarousel" class="carousel slide nav_border" data-ride="carousel" data-interval="5000">
                <!-- 轮播（Carousel）指标 -->
                {#                <ol class="carousel-indicators">#}
                {#                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>#}
                {#                    <li data-target="#myCarousel" data-slide-to="1"></li>#}
                {#                    <li data-target="#myCarousel" data-slide-to="2"></li>#}
                {#                </ol>#}
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                    <div class="item active ">
                        <img src="/static/laboratory_stc/img/cells-1872666__340.webp" alt="First slide">
                    </div>
                    <div class="item ">
                        <img src="/static/laboratory_stc/img/bacteria-163711__340.webp" alt="Second slide" style="margin-top: -5px">
                    </div>
                    <div class="item ">
                        <img src="/static/laboratory_stc/img/bacteria-163711__340.webp" alt="Third slide">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{#=========================主要内容============================#}
<div class="container">
    <div class="row">
        <div>
            <div class="xw_span">
                <div>
                    <span>实验室简介</span>
                </div>
            </div>
            <div class="intruduce">
                <div class="intruduce_img">
                    <div>
                        <img src="/static/laboratory_stc/img/1530257804275116.jpg">
                    </div>
                </div>
                <div>
                    <p>
                        中国科学技术大学结构生物化学实验室创建于2004年，由周丛照教授和陈宇星教授两个独立的科研实验室联合组成，同时隶属于生命科学学院和合肥微尺度物质科学国家研究中心。现实验室成员还包括江永亮副教授、李卫芳副教授、李旭副教授、侯文韬副研究员、李琼副研究员、任艳敏助理实验员、多名博士后、约15名博士研究生、10多名硕士研究生和数名本科生。

                        我们关注的三大科学问题：1) 蓝藻高效固碳的分子机理；2）蓝藻水华形成的分子机制以及基于噬藻体的干预策略；3)
                        人类重大疾病相关的膜转运蛋白的工作机制。实验室的理论体系及方法学包括（但不限于）生物化学、分子生物学、结构生物学、微生物学、生物信息学、合成生物学、生物物理学和细胞生物学等。

                        实验室运行经费主要来自于：科技部（973和国家重点计划项目等）、国家自然科学基金委（重点、面上和青年项目）、中国科学院（先导专项A和B，种子创新研究院）以及中国科学技术大学（新医学项目和各类平台支持）。

                        我们的技术平台包括：蛋白质纯化、分析和结晶系统；单颗粒冷冻电镜研究平台；蓝细菌微生物遗传操作系统；生物信息学（基因组学和转录组学）研究平台、细胞培养和分析分选系统；酶学研究体系等。此外，还共享生命科学学院和微尺度物质科学国家研究中心的大型仪器设备平台。

                        研究成果发表在Nature子刊（Nature Plants， Nature Communications）、PNAS、EMBO Reports、PLoS
                        Pathogens、NAR和JBC等学术刊物上（详细情况参见科研成果部分）。

                        热忱欢迎来自全世界的优秀本科毕业生和博士毕业生加入我们团队！衷心希望与国内外同行开展各种层面的科研合作。
                    </p>
                </div>
            </div>


            <div class="xw_span" id="compose">
                <div>
                    <span>主要成员</span>
                </div>
            </div>

            <div class="compose  row">
                <div class="professor container">
                    <div class="row">
                        <div>
                            <span class="xw_label1"></span>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/file201405181615501287.jpg" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2">周从照 教授</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/file201405181615501287.jpg" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2">周从照 教授</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/file201405181615501287.jpg" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2">周从照 教授</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="phd">
                    <div class="row">
                        <div>
                            <span class="xw_label1"></span>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/file201405181615501287.jpg" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2">周从照 教授</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/file201405181615501287.jpg" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2">周从照 教授</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="graduate">
                    <div class="row">
                        <div>
                            <span class="xw_label1">硕士生</span>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/file201405181615501287.jpg" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2">周从照 教授</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/file201405181615501287.jpg" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2">周从照 教授</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/file201405181615501287.jpg" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2">周从照 教授</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="xw_span">
                    <div>
                        <span>研究项目</span>
                    </div>
                </div>

                <div class="xw_span">
                    <div>
                        <span>科研成果</span>
                    </div>
                </div>

                <div class="xw_span">
                    <div>
                        <span>联系我们</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{#=========================footer============================#}
<div class="footer">

</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
<script src="/static/laboratory_stc/self_static/Vanta/three.r119.min.js"></script>
<script src="/static/laboratory_stc/self_static/Vanta/vanta.cells.min.js"></script>
<script>
    VANTA.CELLS({
        el: "#cell",
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 200.00,
        minWidth: 200.00,
        scale: 1.00
    })
</script>
</body>
</html>